@import './variables.scss';

.footer-component {
    width: 100%;
    background-color: $dark-color;
    padding: 10vh 0 10vh 0;
    text-align: center;

        span {
            color: $light-color;
            font-weight: 500;
        }
}